 /* PRE-DEFINED CSS */
 
 *{
   margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Plump;
  color: white; /*TEST COLOR */
}

body {
  color: var(--main-text-color);
  position: relative;
  background: rgb(0, 0, 0);
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 75px;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

header {
  margin: auto;
  align-items: center;
  border-radius: 40px;
  margin-bottom: 40px;
  display: grid;
  gap: 40px;
  flex-direction: column;
  color: #ffffff;
}

.mintHeader {
  flex-direction: column;
  gap: 20px;
}

 @media only screen and (min-width: 800px) {
  header {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
} 

.card {
  align-items: center;
  padding: 40px;
  background: rgb(255, 255, 255);
  
}

#link1{
  background-image: url(./images/SpaceToast.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000a4; /* Tint color */
  background-blend-mode: multiply;
  font-family:'Times New Roman', Times, serif;
  color: #ffffff;
  

  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.card h1{
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
  font-family: Plump;
}


.container {
  position: relative;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  border-radius: 20px;
  font-size: 21px;
  font-family:monospace;
  margin-bottom: 100%;
}
.content-wrapper {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 90%;
  box-shadow: 12px 12px 10px #BA610A;
  border-radius: 5%;
  
}

.cardtext{
  font-size: 25px;
  text-align: center;
}

.mints-available {
  background: rgb(65, 65, 65);
  box-shadow: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

/* .minting-box {
  background-color: var(--minting-box-color) !important;
  color: var(--minting-box-text-color) !important;
  border-style: solid;
  border-color: #000000;
  background-image: url(../Images/ToastPattern.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #000000;
} */

.minting-box h5 {
  color: var(--minting-box-heading-color);
  color: #603813;
  font-weight: bold;
}

.minting-box p{
  color: #603813;
  font-weight: 900;

}

.minting-info {
  background-color: var(--minting-box-info-box-color);
  box-shadow: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.minting-info h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.minting-button {
  background: var(--minting-button-color) !important;
}

.custom-mint-container {
  margin-bottom: 20px;
 }



.loading:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: rgb(0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 rgb(0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0.25em 0 0 rgb(0, 0, 0), 0.5em 0 0 rgb(0, 0, 0);
  }
}

/* CUSTOM CSS */

/* nav */

.logo-image {
  max-width: 46px;
  max-height: 46px;
  border-radius: 20%;
  overflow: hidden;
  top: 1px;
  margin-left: 2px;
  position: relative;
}


.topnav {
  background-color: #ba610a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  border-bottom: 2px solid rgb(255, 255, 255);
  min-height: 50px;
  text-align: center;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 12px;
  margin-top: 2px;
  border-radius: 2px;
}

.nav-links a:hover {
  text-decoration: underline;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(.logo-image){
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: absolute;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    top: 0px;
  }
}

/* footer */
footer {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer p {
  font-size: 20px;
  margin-bottom: 10px;
}
.footer-links a {
  display: inline-block;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 48px;
}

@font-face {
  font-family: Plump;
  src: url(./fonts/Plumpfull.ttf);
}

.mainBanner {
  width: 90%;
  height: 10%;
}

.nftCal{
  border-radius: 20%;
}